[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygments = "~=2.18"
python-dotenv = "~=1.0"
grpcio = "~=1.60"
prompt-toolkit = "~=3.0"
pathspec = "==0.12.1"
rich = "~=14.1"
peewee = "~=3.18"
google-genai = "~=1.36"

[dev-packages]
watchdog = "*"
pylint = "*"
honcho = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.13"
